<div class=".container .text-center">
	<h1>Hello World</h1>
	<hr />
	<h3>You are roading on Rails...</h3>
	<% 4.times do %>
		<br />
	<% end %>
	<p class=".text-muted">From rails-template of 80percent!!</p>
	<%= link_to 'About Page', page_path('about') %>
</div>
